{"token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6IkhPU3VzZXIzIiwiaWF0IjoxNjQyMDk0NDgxfQ.TBGJug21vDgLsvjm3gr8gzHUNHAPPSUadXaTcDUakT0","user":{"createdAt":"2022-01-13T17:21:21.096Z","favorites":[],"name":"HackerUser","stories":[],"updatedAt":"2022-01-13T17:21:21.096Z","username":"HOSuser3"}}
____________________________________________________

{"token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6InRlc3RlcjUiLCJpYXQiOjE2NDIwOTYyNjB9.WOCbwuZRwGk9leDw6M78Nl9BYuvoRWv3uvSA4ozij64","user":{"createdAt":"2022-01-13T17:51:00.613Z","favorites":[],"name":"TestUser5","stories":[],"updatedAt":"2022-01-13T17:51:00.613Z","username":"tester5"}}

____________________________________________________
Most current one:
{"token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VybmFtZSI6InRlc3RlcjEiLCJpYXQiOjE2NDIxMDI2OTl9.a-QwI_65jaP4eRROO8-IWe9WpaBzxoDs0vr0_01XYBo","user":{"createdAt":"2022-01-13T19:38:19.504Z","favorites":[],"name":"Tester","stories":[],"updatedAt":"2022-01-13T19:38:19.504Z","username":"tester1"}}